body{
  text-align: center;
  background-color: rgb(245, 127, 104);
  font-size: 22px;
}
body header h2{
  margin: 0px;
}
body header p{
  margin: 0px;
  margin-top: 5px;
}
.main-body{
border: 5px solid yellowgreen;
width: 40%;
margin: 0 auto;
}
#display{
  margin-top: 10px;
  padding: 15px;
  width: 90%;
  border: none;
  font-size: 28px;
  font-weight: 700;
  background-color: #3D2C8D;
  color: white;
  height: 90px;
}
input{
  padding: 10px;
  font-size: 20px;
  margin: 6px;
  width:20%;
  border: none;
}
.ce{
background-color: aquamarine;
}
.numbers{
  background-color: gray;
}
.math{
  background-color: lightgreen;
}